html { 
  font-family: Helvetica, sans-serif;
}

body {
  background-color: black; 
  padding: 5%
}

a {
  color: white;
  text-decoration: none;
}

.title {
  color: white;
  font-size: 200%;
}

.title {
  font-weight: bold;
}

.subtitle {
  color: white;
  font-size: 150%;
}

.content {
  color: white;
  font-size: 100%;
  line-height: 140%;
  width: 75%;
}

.make:hover {
  text-decoration: underline;
}

.make {
  color: red;
}

img {
  width: 75%;
  padding-top: 5%;
  padding-bottom: 5%;
  margin-left: -3%;
}

.redtext {
  color: red;
}